#rightAnswers {
    background-color: rgb(155, 165, 16);
    width: 50%;
    float: left;
    height: 50vh;
}

#wrongAnswers {
    background-color: rgb(233, 150, 150);
    width: 50%;
    float: left;
    height: 50vh;
}

.answer {
    color: white;
}
