#rightAnswers {
   background-color: rgb(155, 165, 16);
    width: 40%;
    float: left;
    margin: 10px;
    padding: 10px;
    height: 50vh;
    border-radius: 5px;
}

#wrongAnswers {
    background-color: rgb(228, 126, 126);
    width: 40%;
    float: left;
    margin: 10px;
    padding: 10px;
    height: 50vh;
    border-radius: 5px;
}


#box-answers
{
	display: none;
}

#scoreBoard
{
	visibility: hidden;
}
#spanName
{
	font-size: 20px;
	font-weight: bold;
}